.header {
    position: fixed;
    top: 0;
    width: 100%;
    /* box-shadow: 0 4px 20px hsla(208, 24%, 35%, 0.767); */
    /* background-color: #0f0f10f2; */
    /* z-index: 1; */
    z-index: 1000;
    color: rgb(18, 135, 236);
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.logo a {
    font-size: 24px;
    font-weight: bold;
    color: #0c0101;
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    list-style: none;
    font-family: 'Concert One', cursive;
}


.logo a span {
    font-family: 'Concert One', cursive;
    color: rgb(252, 7, 252);
    font-size: 30px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu a {
    display: block;
    padding: 7px 15px;
    font-size: 30px;
    font-weight: 800;
    transition: 0.2s all ease-in-out;
    color: #100101;
    text-decoration: none;
}
.menu li  {
    list-style: none;
    text-decoration:none;
}
.menu .login {
    border: 1px solid white;
    border-radius: 30px;
}
.menu .login:hover{
    background-color: purple;
    color: white;
}



.menu:hover a {
    opacity: 0.4;
}

.menu a:hover {
    opacity: 1;
    color: purple;
    font-weight: bold;
    text-decoration: underline;
}

.menu-icon {
    display: none;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked~.menu {
    transform: scale(1, 1);
}

@media only screen and (max-width: 950px) {
    .menu {
        backdrop-filter: blur(10px);
        flex-direction: column;
        /* background-color: #00000092; */
        align-items: center;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        z-index: 1;
        transform: scale(1, 0);
        transform-origin: top;
        transition: transform 0.3s ease-in-out;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

    .menu a {
        margin-left: 12px;
    }

    .menu li {
        margin-bottom: 10px;
    }

    .menu-icon {
        display: block;
        color: #fff;
        font-size: 28px;
        cursor: pointer;
    }
}


.inverted {
    background-color: #01010181;
    box-shadow: 0 3px 5px 0.3px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}

@media screen and (max-width:496px) {
    .header nav .logo a {
        font-size: 23px;
    }

    .header nav .logo a span {
        font-size: 10px;
    }


}